@font-face {
  font-family: JetBrainsMono;
  src: url(./JetBrainsMono-VariableFont_wght.ttf);
}

body {
  font-family: "JetBrainsMono";
  font-family: "Kanit";
  padding: 20px;
  font-size: 14px;
  background-color: #121212;
  color: white;
}

p,
div {
  font-size: 12px;
}


a {
  color: white;
  text-decoration: none;
}

th,
td {
  border: 0.5px solid white;
}

td {
  padding: 1px 7px 1px 7px;
}